.img-width{
    width: 100%;
    height: 200px;
    padding: 15px;
    margin: auto;
}
.btn-h{
    border: 1px solid black;
}
.btn-h:hover{
    background-color: black;
    color: white;
}


@media only screen and (max-width:374px) {
    .img-width{
        width: 70%; 
        margin: auto;
    }
 }

 @media only screen and (min-width:375px) and (max-width:767px) {
    .img-width{
        width: 60%;
    height: 300px;
        
    }
 }